.seed-social {
  font-family: sans-serif;
  font-family: var(--s-heading, sans-serif);
  font-size: 14px;
  margin: 1.5em 0;
  padding: 0;
  text-align: center;
  list-style: none;
  * {
    box-sizing: border-box;
  }
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
  > li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    vertical-align: top;
    &:last-of-type a {
      margin-right: 0;
    }
  }
  i {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center center;
    &.ss-facebook {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIzLjk5ODEgMTEuOTk5MUMyMy45OTgxIDUuMzcyMTYgMTguNjI2IDAgMTEuOTk5MSAwQzUuMzcyMTYgMCAwIDUuMzcyMTYgMCAxMS45OTkxQzAgMTcuOTg4MiA0LjM4Nzg5IDIyLjk1MjIgMTAuMTI0MiAyMy44NTI0VjE1LjQ2NzZINy4wNzc1OFYxMS45OTkxSDEwLjEyNDJWOS4zNTU1M0MxMC4xMjQyIDYuMzQ4MjYgMTEuOTE1NiA0LjY4NzE0IDE0LjY1NjQgNC42ODcxNEMxNS45NjkyIDQuNjg3MTQgMTcuMzQyNCA0LjkyMTQ5IDE3LjM0MjQgNC45MjE0OVY3Ljg3NDM5SDE1LjgyOTRDMTQuMzM4OCA3Ljg3NDM5IDEzLjg3MzkgOC43OTkzMyAxMy44NzM5IDkuNzQ4MjRWMTEuOTk5MUgxNy4yMDE4TDE2LjY2OTggMTUuNDY3NkgxMy44NzM5VjIzLjg1MjRDMTkuNjEwMyAyMi45NTIyIDIzLjk5ODEgMTcuOTg4MiAyMy45OTgxIDExLjk5OTFaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4K");
    }
    &.ss-twitter {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyNCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIzLjk1NCAyLjMyM0MyMy4wNjkgMi43MTIgMjIuMTI0IDIuOTc3IDIxLjEyOSAzLjA5OEMyMi4xNDMgMi40ODcgMjIuOTIzIDEuNTI0IDIzLjI5MiAwLjM3NUMyMi4zNDEgMC45MyAyMS4yODcgMS4zMzQgMjAuMTY1IDEuNTU5QzE5LjI2OSAwLjYgMTcuOTkyIDAgMTYuNTc0IDBDMTMuODU3IDAgMTEuNjU0IDIuMjAzIDExLjY1NCA0LjkxN0MxMS42NTQgNS4zMDcgMTEuNjk5IDUuNjgyIDExLjc4MSA2LjA0MUM3LjY5MSA1Ljg0OCA0LjA2NiAzLjg4NCAxLjY0IDAuOTE1QzEuMjEzIDEuNjM3IDAuOTc0IDIuNDc2IDAuOTc0IDMuMzlDMC45NzQgNS4xIDEuODQ0IDYuNjAzIDMuMTYyIDcuNDg2QzIuMzU1IDcuNDYgMS41OTYgNy4yMzggMC45MzQgNi44N1Y2LjkzMUMwLjkzNCA5LjMxNiAyLjYyNyAxMS4zMDUgNC44OCAxMS43NThDNC40NjcgMTEuODY5IDQuMDMxIDExLjkyOSAzLjU4NCAxMS45MjlDMy4yNyAxMS45MjkgMi45NjkgMTEuODk5IDIuNjY4IDExLjg0M0MzLjI5OSAxMy43OTYgNS4xMTMgMTUuMjIgNy4yNzIgMTUuMjZDNS41OTIgMTYuNTc5IDMuNDYzIDE3LjM2NSAxLjE3IDE3LjM2NUMwLjc4IDE3LjM2NSAwLjM5MSAxNy4zNDIgMCAxNy4yOThDMi4xODkgMTguNjkyIDQuNzY4IDE5LjUwNyA3LjU1NyAxOS41MDdDMTYuNjExIDE5LjUwNyAyMS41NTYgMTIuMDExIDIxLjU1NiA1LjUyMUMyMS41NTYgNS4zMTIgMjEuNTU2IDUuMTAxIDIxLjU0MSA0Ljg5MUMyMi41MDIgNC4yMDIgMjMuMzQxIDMuMzMxIDI0LjAwMSAyLjM0M0wyMy45NTQgMi4zMjNaIiBmaWxsPSJ3aGl0ZSIvPgo8L3N2Zz4=");
    }
    &.ss-line {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjMiIHZpZXdCb3g9IjAgMCAyNCAyMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTI0IDkuNzVDMjQgOC40MDYyNSAyMy42ODc1IDcuMTQwNjIgMjMuMDYyNSA1Ljk1MzEyQzIyLjQyMTkgNC43NjU2MiAyMS41NTQ3IDMuNzM0MzggMjAuNDYwOSAyLjg1OTM4QzE5LjM4MjggMS45Njg3NSAxOC4xMTcyIDEuMjczNDQgMTYuNjY0MSAwLjc3MzQzOEMxNS4yMTA5IDAuMjU3ODEyIDEzLjY1NjIgMCAxMiAwQzEwLjM0MzggMCA4Ljc4OTA2IDAuMjU3ODEyIDcuMzM1OTQgMC43NzM0MzhDNS44ODI4MSAxLjI3MzQ0IDQuNjA5MzggMS45Njg3NSAzLjUxNTYyIDIuODU5MzhDMi40Mzc1IDMuNzM0MzggMS41NzgxMiA0Ljc2NTYyIDAuOTM3NSA1Ljk1MzEyQzAuMzEyNSA3LjE0MDYyIDAgOC40MDYyNSAwIDkuNzVDMCAxMC45Mzc1IDAuMjUgMTIuMDc4MSAwLjc1IDEzLjE3MTlDMS4yNjU2MiAxNC4yNSAxLjk2ODc1IDE1LjIxODggMi44NTkzOCAxNi4wNzgxQzMuNzUgMTYuOTIxOSA0LjgwNDY5IDE3LjYzMjggNi4wMjM0NCAxOC4yMTA5QzcuMjU3ODEgMTguNzg5MSA4LjU5Mzc1IDE5LjE3MTkgMTAuMDMxMiAxOS4zNTk0QzEwLjIxODggMTkuNDA2MiAxMC40MjE5IDE5LjQ2ODggMTAuNjQwNiAxOS41NDY5QzEwLjg3NSAxOS42MjUgMTEuMDMxMiAxOS43NSAxMS4xMDk0IDE5LjkyMTlDMTEuMTU2MiAyMC4wNzgxIDExLjE3MTkgMjAuMjY1NiAxMS4xNTYyIDIwLjQ4NDRDMTEuMTU2MiAyMC42ODc1IDExLjE0MDYgMjAuODc1IDExLjEwOTQgMjEuMDQ2OUMxMS4xMDk0IDIxLjA0NjkgMTEuMDg1OSAyMS4xOTUzIDExLjAzOTEgMjEuNDkyMkMxMC45OTIyIDIxLjc3MzQgMTAuOTY4OCAyMS45NTMxIDEwLjk2ODggMjIuMDMxMkMxMC45NTMxIDIyLjE4NzUgMTAuOTYwOSAyMi40MDYyIDEwLjk5MjIgMjIuNjg3NUMxMS4wMjM0IDIyLjk2ODggMTEuMzU5NCAyMi45Njg4IDEyIDIyLjY4NzVDMTIuMzEyNSAyMi41NjI1IDEyLjg1OTQgMjIuMjY1NiAxMy42NDA2IDIxLjc5NjlDMTQuNDM3NSAyMS4zMjgxIDE1LjMwNDcgMjAuNzY1NiAxNi4yNDIyIDIwLjEwOTRDMTcuMTc5NyAxOS40NTMxIDE4LjExNzIgMTguNzQyMiAxOS4wNTQ3IDE3Ljk3NjZDMTkuOTkyMiAxNy4yMTA5IDIwLjc4MTIgMTYuNDY4OCAyMS40MjE5IDE1Ljc1QzIyLjI4MTIgMTQuNzk2OSAyMi45MjE5IDEzLjgyODEgMjMuMzQzOCAxMi44NDM4QzIzLjc4MTIgMTEuODU5NCAyNCAxMC44MjgxIDI0IDkuNzVaTTcuMzEyNSAxMi45Mzc1SDQuOTIxODhDNC43NjU2MiAxMi45Mzc1IDQuNjE3MTkgMTIuODgyOCA0LjQ3NjU2IDEyLjc3MzRDNC4zMzU5NCAxMi42NDg0IDQuMjY1NjIgMTIuNSA0LjI2NTYyIDEyLjMyODFWNy41NDY4OEM0LjI2NTYyIDcuMzU5MzggNC4zMjgxMiA3LjIwMzEyIDQuNDUzMTIgNy4wNzgxMkM0LjU5Mzc1IDYuOTUzMTIgNC43NSA2Ljg5MDYyIDQuOTIxODggNi44OTA2MkM1LjA3ODEyIDYuODkwNjIgNS4yMTg3NSA2Ljk1MzEyIDUuMzQzNzUgNy4wNzgxMkM1LjQ2ODc1IDcuMjAzMTIgNS41MzEyNSA3LjM1OTM4IDUuNTMxMjUgNy41NDY4OFYxMS42NzE5SDcuMzEyNUM3LjQ2ODc1IDExLjY3MTkgNy42MDkzOCAxMS43MzQ0IDcuNzM0MzggMTEuODU5NEM3Ljg1OTM4IDExLjk4NDQgNy45MjE4OCAxMi4xNDA2IDcuOTIxODggMTIuMzI4MUM3LjkyMTg4IDEyLjQ4NDQgNy44NTkzOCAxMi42MjUgNy43MzQzOCAxMi43NUM3LjYyNSAxMi44NzUgNy40ODQzOCAxMi45Mzc1IDcuMzEyNSAxMi45Mzc1Wk05Ljc1IDEyLjMyODFDOS43NSAxMi40ODQ0IDkuNjg3NSAxMi42MjUgOS41NjI1IDEyLjc1QzkuNDUzMTIgMTIuODc1IDkuMzEyNSAxMi45Mzc1IDkuMTQwNjIgMTIuOTM3NUM4Ljk4NDM4IDEyLjkzNzUgOC44NDM3NSAxMi44ODI4IDguNzE4NzUgMTIuNzczNEM4LjU5Mzc1IDEyLjY0ODQgOC41MzEyNSAxMi41IDguNTMxMjUgMTIuMzI4MVY3LjU0Njg4QzguNTMxMjUgNy4zNTkzOCA4LjU4NTk0IDcuMjAzMTIgOC42OTUzMSA3LjA3ODEyQzguODIwMzEgNi45NTMxMiA4Ljk2ODc1IDYuODkwNjIgOS4xNDA2MiA2Ljg5MDYyQzkuMjk2ODggNi44OTA2MiA5LjQzNzUgNi45NTMxMiA5LjU2MjUgNy4wNzgxMkM5LjY4NzUgNy4yMDMxMiA5Ljc1IDcuMzU5MzggOS43NSA3LjU0Njg4VjEyLjMyODFaTTE1LjUxNTYgMTIuMzI4MUMxNS41MTU2IDEyLjQzNzUgMTUuNDc2NiAxMi41NDY5IDE1LjM5ODQgMTIuNjU2MkMxNS4zMjAzIDEyLjc2NTYgMTUuMjE4OCAxMi44NDM4IDE1LjA5MzggMTIuODkwNkMxNS4wNDY5IDEyLjkwNjIgMTUuMDA3OCAxMi45MjE5IDE0Ljk3NjYgMTIuOTM3NUMxNC45NDUzIDEyLjkzNzUgMTQuOTA2MiAxMi45Mzc1IDE0Ljg1OTQgMTIuOTM3NUMxNC43NjU2IDEyLjkzNzUgMTQuNjcxOSAxMi45MjE5IDE0LjU3ODEgMTIuODkwNkMxNC41IDEyLjg0MzggMTQuNDM3NSAxMi43ODEyIDE0LjM5MDYgMTIuNzAzMUwxMS45NTMxIDkuMzc1VjEyLjMyODFDMTEuOTUzMSAxMi40ODQ0IDExLjg5MDYgMTIuNjI1IDExLjc2NTYgMTIuNzVDMTEuNjQwNiAxMi44NzUgMTEuNDg0NCAxMi45Mzc1IDExLjI5NjkgMTIuOTM3NUMxMS4xNDA2IDEyLjkzNzUgMTEgMTIuODgyOCAxMC44NzUgMTIuNzczNEMxMC43NSAxMi42NDg0IDEwLjY4NzUgMTIuNSAxMC42ODc1IDEyLjMyODFWNy41NDY4OEMxMC42ODc1IDcuNDA2MjUgMTAuNzE4OCA3LjI4MTI1IDEwLjc4MTIgNy4xNzE4OEMxMC44NTk0IDcuMDYyNSAxMC45Njg4IDYuOTg0MzggMTEuMTA5NCA2LjkzNzVDMTEuMTI1IDYuOTM3NSAxMS4xNDg0IDYuOTI5NjkgMTEuMTc5NyA2LjkxNDA2QzExLjIyNjYgNi44OTg0NCAxMS4yNjU2IDYuODkwNjIgMTEuMjk2OSA2Ljg5MDYyQzExLjM5MDYgNi44OTA2MiAxMS40NzY2IDYuOTE0MDYgMTEuNTU0NyA2Ljk2MDk0QzExLjY0ODQgNy4wMDc4MSAxMS43MzQ0IDcuMDc4MTIgMTEuODEyNSA3LjE3MTg4TDE0LjI1IDEwLjVWNy41NDY4OEMxNC4yNSA3LjM1OTM4IDE0LjMwNDcgNy4yMDMxMiAxNC40MTQxIDcuMDc4MTJDMTQuNTM5MSA2Ljk1MzEyIDE0LjY4NzUgNi44OTA2MiAxNC44NTk0IDYuODkwNjJDMTUuMDQ2OSA2Ljg5MDYyIDE1LjIwMzEgNi45NTMxMiAxNS4zMjgxIDcuMDc4MTJDMTUuNDUzMSA3LjIwMzEyIDE1LjUxNTYgNy4zNTkzOCAxNS41MTU2IDcuNTQ2ODhWMTIuMzI4MVpNMTkuMzU5NCA5LjI4MTI1QzE5LjU0NjkgOS4yODEyNSAxOS43MDMxIDkuMzQzNzUgMTkuODI4MSA5LjQ2ODc1QzE5Ljk1MzEgOS41OTM3NSAyMC4wMTU2IDkuNzUgMjAuMDE1NiA5LjkzNzVDMjAuMDE1NiAxMC4wOTM4IDE5Ljk1MzEgMTAuMjM0NCAxOS44MjgxIDEwLjM1OTRDMTkuNzAzMSAxMC40ODQ0IDE5LjU0NjkgMTAuNTQ2OSAxOS4zNTk0IDEwLjU0NjlIMTcuNjI1VjExLjY3MTlIMTkuMzU5NEMxOS41NDY5IDExLjY3MTkgMTkuNzAzMSAxMS43MzQ0IDE5LjgyODEgMTEuODU5NEMxOS45NTMxIDExLjk4NDQgMjAuMDE1NiAxMi4xNDA2IDIwLjAxNTYgMTIuMzI4MUMyMC4wMTU2IDEyLjQ4NDQgMTkuOTUzMSAxMi42MjUgMTkuODI4MSAxMi43NUMxOS43MDMxIDEyLjg3NSAxOS41NDY5IDEyLjkzNzUgMTkuMzU5NCAxMi45Mzc1SDE2Ljk2ODhDMTYuODEyNSAxMi45Mzc1IDE2LjY3MTkgMTIuODgyOCAxNi41NDY5IDEyLjc3MzRDMTYuNDIxOSAxMi42NDg0IDE2LjM1OTQgMTIuNSAxNi4zNTk0IDEyLjMyODFWOS45Mzc1VjcuNTQ2ODhDMTYuMzU5NCA3LjM1OTM4IDE2LjQxNDEgNy4yMDMxMiAxNi41MjM0IDcuMDc4MTJDMTYuNjQ4NCA2Ljk1MzEyIDE2Ljc5NjkgNi44OTA2MiAxNi45Njg4IDYuODkwNjJIMTkuMzU5NEMxOS41NDY5IDYuODkwNjIgMTkuNzAzMSA2Ljk1MzEyIDE5LjgyODEgNy4wNzgxMkMxOS45NTMxIDcuMjAzMTIgMjAuMDE1NiA3LjM1OTM4IDIwLjAxNTYgNy41NDY4OEMyMC4wMTU2IDcuNzAzMTIgMTkuOTUzMSA3Ljg0Mzc1IDE5LjgyODEgNy45Njg3NUMxOS43MDMxIDguMDkzNzUgMTkuNTQ2OSA4LjE1NjI1IDE5LjM1OTQgOC4xNTYyNUgxNy42MjVWOS4yODEyNUgxOS4zNTk0WiIgZmlsbD0id2hpdGUiLz4KPC9zdmc+");
    }
  }
  a {
    color: #fff !important;
    text-decoration: none !important;
    box-shadow: none !important;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 40px;
    min-width: 80px;
    border-radius: 3px;
    padding: 4px;
    &:hover {
      color: #fff;
      span,
      i {
        opacity: 0.8;
      }
    }
    &:focus,
    &:active {
      color: #fff;
      span,
      i {
        opacity: 0.5;
      }
    }
  }
  i,
  span {
    color: #fff;
    transition: 0.3s ease;
    pointer-events: none;
  }
  .text {
    display: none;
    pointer-events: none;
  }
  .count {
    padding: 0 2px 0 6px;
    background: none;
    float: none;
    font-size: inherit;
    pointer-events: none;
    opacity: 0;
    transition: 500ms ease-in-out;
    font-weight: normal;
    text-transform: uppercase;
  }
  .woocommerce-cart &,
  .woocommerce-checkout &,
  .woocommerce-account & {
    display: none;
  }

  .facebook {
    a {
      background-color: #1877f2;
    }
  }
  .twitter {
    a {
      background-color: #55acee;
    }
  }
  .line {
    a {
      background-color: #00b900;
    }
  }

  @media (min-width: 768px) {
    text-align: left;
    a {
      padding: 4px 8px;
    }
    .text {
      padding-left: 8px;
      display: flex;
      font-weight: 500;
    }
  }
}
