.seed-social {
  font-family: var(--s-heading, sans-serif);
  font-size: 0.875em;
  margin: 1.5em 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  * {
    box-sizing: border-box;
  }
  a {
    color: inherit;
    text-decoration: none !important;
    box-shadow: none !important;
    display: flex;
    gap: 0.5em;
    align-items: center;
    transition: 0.3s ease;
    &:focus,
    &:active {
      color: inherit;
      span,
      svg {
        opacity: 0.5;
      }
    }
  }
  svg {
    pointer-events: none;
  }
  span {
    font-size: 0.8em;
  }
  .hide {
    display: none !important;
  }
  .woocommerce-cart &,
  .woocommerce-checkout &,
  .woocommerce-account & {
    display: none;
  }
  @media (min-width: 992px) {
    justify-content: unset;
  }
}
.ss-facebook:hover {
  color: #1877f2;
}
.ss-twitter:hover {
  color: #55acee;
}
.ss-line:hover {
  color: #00b900;
}
.ss-copy:hover {
  color: #98a2b3;
}
