@charset "UTF-8";
@font-face {
	font-family: "seed-social";
	src:url("fonts/seed-social.eot");
	src:url("fonts/seed-social.eot?#iefix") format("embedded-opentype"),
	url("fonts/seed-social.woff") format("woff"),
	url("fonts/seed-social.ttf") format("truetype"),
	url("fonts/seed-social.svg#seed-social") format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="ss-"]:before,
[class*=" ss-"]:before {
	font-family: "seed-social" !important;
	font-style: normal !important;
	font-weight: normal !important;
	font-variant: normal !important;
	text-transform: none !important;
	speak: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.ss-facebook:before {content: "\e000";}
.ss-facebook-circled:before {content: "\e001";}
.ss-facebook-squared:before {content: "\e002";}
.ss-twitter:before {content: "\e003";}
.ss-twitter-circled:before {content: "\e004";}
.ss-line-square:before {content: "\e006";}
.ss-line-circle:before {content: "\e007";}
.ss-seedthemes:before {content: "\e00a";}
.ss-line:before {content: "\e005";}


.seed-social {
	font-family: sans-serif;
	font-size: 12px;
	line-height: 20px;
	margin: 1.5em 0;
	text-align: center;
}
.seed-social * {box-sizing: border-box;}
.seed-social:before,
.seed-social:after{content: "";display: table;}
.seed-social:after {clear: both;}

.seed-social > div {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	overflow: hidden;
	vertical-align: top;
}
.seed-social > div:last-of-type a {
	margin-right: 0;
}
.seed-social i {
	font-size: 20px;
	color: #fff;
	transition: 0.3s ease;
	padding: 0 3px;
}
.seed-social span {
	color: #fff;
	transition: 0.3s ease;
}
.seed-social a {
	color: #fff !important;
	text-decoration: none !important;
	display: block;
	height: 40px;
	min-width: 80px;
	border-radius: 3px;
	text-align: center;
	padding: 4px;
	line-height: 37px;
	box-shadow: none !important;
}
.seed-social a:hover,
.seed-social a:active,
.seed-social a:focus {
	color: #fff;
}
.seed-social a:hover span,
.seed-social a:hover i {
	opacity: 0.8;
}
.seed-social a:active span,
.seed-social a:active i {
	opacity: 0.5;
}
.seed-social .text {
	display: none;
}
.seed-social .count {
	vertical-align: 4px;
	padding: 0;
	background: none;
	float: none;
	font-size: inherit;
}
.seed-social .facebook a{
	background-color: #3b5998;
	float: left;
}
.seed-social .twitter a{
	background-color: #55acee;
}
.seed-social .line a{
	background-color: #00c300;
}

.woocommerce-cart .seed-social,
.woocommerce-checkout .seed-social,
.woocommerce-account .seed-social {
	display: none;
}

.seed-social.-bbpress-top {
    clear: both;
}

@media (min-width:768px) {
	.seed-social {
		text-align: left;
	}
	.seed-social i {
		font-size: 16px;
		vertical-align: -3px;
	}
	.seed-social a {
		color: #fff;
		display: block;
		padding: 6px 12px 4px 8px;
		border-radius: 3px;
		width: auto;
		height: auto;
		line-height: 20px;
	}
	.seed-social .text {
		margin-left: 4px;
		display: inline-block;
	}
	.seed-social .count {
		vertical-align: 0;
		margin-left: 8px;
	}
}
